[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Tint2
Comment=Tint2 Notify Area
Exec=tint2 -c /usr/local/bin/.tint2launchers/tint2rc
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

