[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=VSIDO-Welcome
Comment=Setup Additional Applications
Exec=vsido-welcome --firstrun
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

